<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div id="content">
    <a href="/" id="title">Mini Message Board</a>
    <p>New Message:</p>
    <form method="POST" action="/new">
      <input type="text" id="username-input" name="usernameInput" placeholder="username">
      <textarea id="message-body-input" name="messageBodyInput" placeholder="message"></textarea>
      <input type="submit" id="submit-button" value="post">
    </form>
  </div>
</body>
</html>