<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div id="content">
  <a href="/" id="title">Mini Message Board</a>
  <a href="/new" id="newPost">post</a>
  <div id="messages">
    <% for (let i = messages.length -1; i >= 0; i--) { %>
      <div class="message">
        <div class="messageHeader">
          <p class="username"> <%= messages[i].user %> </p>
          <p class="date"> <%= messages[i].added %> </p>
        </div>
        <p> <%= messages[i].text %> </p>
        <a href="/messages/<%= messages[i].id %>" class="viewMessage">view message</a>
      </div>
    <% } %>
  </div>
  </div>
</body>
</html>