<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
</head>
<body>
  <a href="/">Mini Message Board</a>
  <p>Messages:</p>
  <a href="/new">post</a>
  <div class="messages">
    <% for (let i = messages.length -1; i >= 0; i--) { %>
      <div class="message" style="border: 1px solid black; margin-bottom: 10px;">
        <p>User: <%= messages[i].user %> </p>
        
        <p> <%= messages[i].text %> </p>
        
        <p> <%= messages[i].added %> </p>
        <a href="/messages/<%= messages[i].id %>">view message</a>
      </div>
    <% } %>
  </div>
</body>
</html>