<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
</head>
<body>
  <p>Messages:</p>
  <a href="/new">post</a>
  <div class="messages">
    <% for (const message of messages) { %>
      <div class="message" style="border: 1px solid black; margin-bottom: 10px;">
        <p> <%= message.text %> </p>
        <p> <%= message.user %> </p>
        <p> <%= message.added %> </p>
      </div>
    <% } %>
  </div>
</body>
</html>