<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Message</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div id="content">
    <a href="/" id="title">Mini Message Board</a>
    <div class="message">
      <div class="message-header">
        <p class="username"> <%= message.user %> </p>
        <p class="date"> <%= message.added %> </p>
      </div>
      <p class="message-body"> <%= message.text %> </p>
    </div>
  </div>
</body>
</html>