*, html{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --link-color: #0084FE;
  --secondary-color: #EFEFEF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  word-wrap: break-word;
}

p { 
  line-height: 22px;
}

#content {
  max-width: 1200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#content, form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#title {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

#title:hover {
  color: var(--link-color);
}

#new-post, #submit-button {
  font-size: 25px;
  color: var(--link-color);
}

#username-input, #message-body-input {
  border: 0px;
  background-color: var(--secondary-color);
  font-size: 16px;
  padding: 8px;
}

#message-body-input {
  height: 40ch;
}

#submit-button {
  border: 0px;
  cursor: pointer;
  background-color: white;

  text-decoration: underline;

  width: 60px;
  text-align: left;
  padding-left: 0px;
}

#messages > .message {
  border-bottom: 1px solid var(--secondary-color);
}

.message {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
  padding-bottom: 10px;
}

.message-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;

}

.message-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-message {
  text-align: left;
  color: black;
  font-style: italic;
}

::placeholder {
  font-style: italic;
}
